---
import NavBar from '../components/NavBar.astro';
---
<html lang="en">
  <body class="min-h-screen flex flex-col">
    <NavBar />
    <main class="flex-grow">
      <slot />
    </main>
  </body>
</html>
